<%-include("header"); -%>

<p>Choose your TO-DO List</p>
<button class="work"><a href="/work">Work List</a></button>
<button class="personal"><a href="/personal"></a>Personal List </button>
<button class=""><a href="/"></a>Add your custom list</button>
<%- include("footer") -%>